*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(150, 163, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

input{
    height: 30px;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
}

button{
    height: 30px;
}